app-file-upload{
  .my-drop-zone {
    border: dotted 3px lightgray;
    margin-right: 20px;
  }
  .file-over {
    border: dotted 3px green;
    margin-right: 20px;
  }
  td .btn {
    font-size: 10px;
  }

}
