

<app-master-search-material [totalItem]="total" [sortByColumnDropdown]="sortByColumns" [searchByField]="searchByField" [paginationFields]="paginationFieldNames"
  [sortByField]="sortByFieldNames" [filterDropdownModels]="filterDropdowns" (onInit)="changeSearch($event)" (onChange)="changeSearch($event)">

  <div class="mat-elevation-z8">

    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="answerType">
        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.answerType === 1 ? 'descriptive' : element.answerType === 2 ? 'mcq' : 'fill in the blanks'}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="privacyMode">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.privacyMode === 1 ? 'public' : 'private'}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
  </div>
  
</app-master-search-material>
